{
	debug
	log {
		output stdout
		format json
	}
}
http://localhost:5173 {
	root * ./dist

	file_server

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:8080
	}

	handle_path /download/* {
		reverse_proxy localhost:8080
	}
}
